{{>layout/header}}

<h1 style="margin-bottom: 20px">게시글 내용 조회</h1>

<div class="col-md-12">
    <form>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글<p style="display: inline" id="id">{{post.id}}</p></th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    <td>
                        <p style="font-size: 25pt" id="title">{{post.title}}</p>
                        <div style="display: flex; justify-content: space-between">
                            <p id="author">{{post.author}}</p>
                            <p style="display: inline; color: darkgrey">{{post.modifiedDate}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="content" style="white-space: pre">{{post.content}}</td>
                </tr>
                <tr>
                    <td style="justify-content: end">
                        <button type="button" class="btn btn-primary"><a href="/posts/update/{{post.id}}" style="text-decoration: none; color: white">게시글 수정</a></button>
                        <button type="button" class="btn btn-danger" id="btn-delete">게시글 삭제</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="heart-zone">
                            <!--heart 가 없는 경우-->
                            {{^heart}}
                                <div id="btn-heart-off">
                                    <img id="btn-heart-off-img" src="/images/heartOff.png"
                                         width="60px" height="60px">
                                </div>
                            {{/heart}}

                            {{#heart}}
                                <div id="btn-heart-on">
                                    <img id="btn-heart-on-img" src="/images/heartOn.png"
                                         width="60px" height="60px">
                                </div>
                            {{/heart}}

                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <p id="email">{{user.email}}</p>
                        <textarea class="form-control" id="replyContent" placeholder="댓글 내용을 입력하세요"></textarea>
                        <button type="button" class="btn btn-primary" id="btn-reply-save">등록</button>
                    </td>
                </tr>
                {{#replies}}
                    <tr>
                        <td>
                            <p style="display:inline">{{name}}<div style="display: inline-block; color: darkgrey">{{modifiedDate}}</div></p>
                            <p>{{replyContent}}</p>
                            <button type="button" class="btn btn-danger" onclick="main.replyDelete({{id}})">댓글 삭제</button>
                        </td>
                    </tr>
                {{/replies}}
            </tbody>
        </table>
    </form>

</div>

{{>layout/footer}}